$red: #FF0000;
$green: #00FF00;
$blue: #0000FF;

$colors: (
	red: #A20000,
	purple: #3E3D4F,
	red-light: #D03333,
	purple-light: #908EA6,
	yellow: #F2D856,
	green: #61AC07,
	green-light: #ABD373,
	orange: #FE6B14,
	black: #2A2939,
	grey-light: #EBEBED,
	grey-mid-light: #DAD9DE,
	grey: #949496
);

@function color($name){
	@return map-get($colors, $name);
}

.color{
	div:first-child{
		min-height: 40px;
	}

	strong, i{
		display: block;
	}

	$color-index: 1;
	@each $name, $color in $colors{
		li:nth-child(#{$color-index}){
			.color__item div:first-child{
				background-color: $color;
			}
			i:after{
				content: "" + $color;
			}
			strong:after{
				content: "" + $name;
			}
			em:after{
				content: "color(" + $name + ")"
			}
		}

		$color-index : $color-index + 1;
	}
}

$color-index: 1;
@each $name, $color in $colors{
	.#{$name}{
		color: $color;
	}
	$color-index : $color-index + 1;
}
