@mixin header-media-query($col1-name, $col2-name){
	@media #{$xlarge-only}{
		&__#{$col1-name}{
			width: grid-calc(2, $total-columns);
		}

		&__#{$col2-name}{
			width: grid-calc(10, $total-columns);
		}
	}

	@media #{$xxlarge-only}{
		&__#{$col1-name}{
			width: grid-calc(1, $total-columns);
		}

		&__#{$col2-name}{
			width: grid-calc(11, $total-columns);
		}
	}
}